# Supabase project settings (Project Settings > API)
SUPABASE_URL=https://zplnwjjrnuzjbmunipdt.supabase.co
SUPABASE_JWT_SECRET=0f7d277d-e683-4d76-aaf8-ae0cb8de0501

PORT=4000
NODE_ENV=production

# Comma-separated list of allowed origins for CORS (Expo dev + prod app scheme)
CORS_ORIGINS=http://localhost:8081,exp://127.0.0.1:19000



SUPABASE_PUBLISHABLE_KEY=sb_publishable_i5sYbPRW5a4cXQT1BOtdjw_zrydRV1q
SUPABASE_JWKS_URL=https://zplnwjjrnuzjbmunipdt.supabase.co/auth/v1/.well-known/jwks.json